@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  /* Colors */
  --primary-color: hsl(75, 94%, 57%);
  --text-color: hsl(0, 0%, 100%);
  --text-color--transparent: hsla(0, 0%, 100%, 0.7);
  --background-color: hsl(0, 0%, 8%);
  --card-color: hsl(0, 0%, 12%);
  --secondary-card-color: hsl(0, 0%, 20%);
  --attribution-color: hsl(228, 45%, 44%);

  /* Typography */
  --font-size-main: 1.5rem;
  --font-size-secondary: 0.85rem;
  --font-size-footer: 0.75rem;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --line-height-normal: 1.1;

  /* Border radius */
  --card-radius: 0.85rem;
  --btn-radius: 0.5rem;
  --img-radius: 50%;

  /* Spacing */
  --margin-bottom: 1rem;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  line-height: var(--line-height-normal);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  line-height: var(--line-height-normal);
}

.card {
  border: none;
  width: 100%;
  background-color: var(--card-color);
  padding: 1.5rem 2rem;
  border-radius: var(--card-radius);
  display: flex;
  align-items: center;
  max-width: 440px;
}

.profile-pic {
  width: 30%;
  max-width: 80px;
  max-height: 80px;
  border-radius: var(--img-radius);
  object-fit: cover;
  overflow: hidden;
  margin-bottom: var(--margin-bottom);
}

.card-title {
  color: var(--text-color);
  font-size: var(--font-size-main);
}

.tag-location {
  color: var(--primary-color);
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-bold);
}

.card-body {
  color: var(--text-color--transparent);
  opacity: 0.8;
  font-size: var(--font-size-secondary);
  overflow-wrap: break-word;
}

.tag-social-link {
  color: var(--text-color);
  background-color: var(--secondary-card-color);
  width: 100%;
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  padding: 0.85rem;
  margin-bottom: var(--margin-bottom);
  border-radius: var( --btn-radius);
}

.tag-social-link:hover,
.tag-social-link:focus {
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  text-decoration: none;
}

.attribution {
  margin-top: var(--margin-bottom);
  color: var(--text-color);
  font-size: var(--font-size-footer);
  font-weight: var(--font-weight-regular);
}

.attribution a {
  color: var(--attribution-color);
  text-decoration: underline;
}

@media screen and (max-width:375px) {
  .card{
    max-width: 320px;
    padding: 1rem 2rem;
  }

  .card-body {
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
  }

  .tag-social-link {
    font-size: 0.8rem;
  }
}